# {{ ansible_managed }}


server {
    listen       0.0.0.0:80;
    listen       [::]:80;
    server_name  {{ inventory_hostname }};

    location / {
        proxy_pass http://127.0.0.1:8000;
    }
}
