<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <h2>The secret is <i>{{ secret }}</i></h2>
    <p>This is {{ inventory_hostname }} and my ip address is {{ ansible_default_ipv4.address }}.</p>
    <dl>
{% for key, value in ansible_local.ethtool.items() %}
      <dt>{{ key }}</dt><dd>{{ value }}</dd>
{% endfor %}
    </dl>
    <dl>
{% for item in ansible_mounts %}
{% set avail = (item.size_total - item.size_available) / item.size_total * 100 %}
      <dt>{{ item.mount }}</dt><dd><div style="width: 100; border: 1px solid;"><div style="background: black; size: absolute; height: 20; width: {{ avail }}"/></div>{{ avail | round(0) }}&thinsp;%</dd>
{% endfor %}
    </dl>
  </body>
</html>
